<div>
  <h2 id="page-heading" data-cy="PieceHeading">
    <span jhiTranslate="orderTrackingApp.piece.home.title">Pieces</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="orderTrackingApp.piece.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-piece"
        [routerLink]="['/piece/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="orderTrackingApp.piece.home.createLabel"> Create a new Piece </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pieces?.length === 0">
    <span jhiTranslate="orderTrackingApp.piece.home.notFound">No Pieces found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pieces && pieces.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="serial">
            <span jhiTranslate="orderTrackingApp.piece.serial">Serial</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="model">
            <span jhiTranslate="orderTrackingApp.piece.model">Model</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="desc"><span jhiTranslate="orderTrackingApp.piece.desc">Desc</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="manu"><span jhiTranslate="orderTrackingApp.piece.manu">Manu</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="notesp">
            <span jhiTranslate="orderTrackingApp.piece.notesp">Notesp</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ordersBelonged.id">
            <span jhiTranslate="orderTrackingApp.piece.ordersBelonged">Orders Belonged</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="customer.id">
            <span jhiTranslate="orderTrackingApp.piece.customer">Customer</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let piece of pieces; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/piece', piece.id, 'view']">{{ piece.id }}</a>
          </td>
          <td>{{ piece.serial }}</td>
          <td>{{ piece.model }}</td>
          <td>{{ piece.desc }}</td>
          <td>{{ piece.manu }}</td>
          <td>{{ piece.notesp }}</td>
          <td>
            <span *ngFor="let ordersBelonged of piece.ordersBelongeds; let last = last">
              <a class="form-control-static" [routerLink]="['/order', ordersBelonged.id, 'view']">{{ ordersBelonged.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <div *ngIf="piece.customer">
              <a [routerLink]="['/customer', piece.customer.id, 'view']">{{ piece.customer?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/piece', piece.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/piece', piece.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(piece)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
